#DOMAIN_NAME
DOMAIN_NAME=

# MYSQL SETUP
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=


#### WP CONFIG ####
WORDPRESS_DB_HOST=
WORDPRESS_DB_NAME=<SAME_AS_MYSQL_DATABASE>

### WP DATA_BASE 
WORDPRESS_DB_USER=<SAME_AS_MYSQLUSER>
WORDPRESS_DB_PASSWORD=<SAME_AS_MYSQL_PASSWORD>

## WP 
WORDPRESS_URL=
WORDPRESS_TITLE=

### WP ADMIN 
WORDPRESS_ADMIN_USER=
WORDPRESS_ADMIN_EMAIL=
WORDPRESS_ADMIN_PASSWORD=

### WP EDITOR / USER 
WORDPRESS_USER=
WORDPRESS_USER_EMAIL=
WORDPRESS_USER_PASSWORD=